header {
 filter: drop-shadow(-1.256px 17.956px 16px rgba(24,65,120,0.19));
}
header .container {
  height: 115px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1680px) {
  header .container {
padding-top: 12px;
padding-bottom: 12px;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1570px) {
  header .container {
    height: 100px;
  }

}

@media screen and (max-width: 1370px) {
 
  header .container {
    height: 80px;
padding-top: 8px;
padding-bottom: 8px;
  }
}

@media screen and (max-width: 1198.99px) {
  header .container {
    max-width: 100%;
  }

}

@media screen and (max-width: 991.99px) {
      header .container {
        height: 70px;
    }

}

@media screen and (max-width: 575px) {
 
}