.VideoExperienceWrap{
    height: calc(100vh - 115px);
}
@media screen and (max-width:1570px) {
    .VideoExperienceWrap{
    height: calc(100vh - 100px);
}
}
@media screen and (max-width:1370px) {
    .VideoExperienceWrap{
    height: calc(100vh - 80px);
}
}